* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  height: 100vh;
}
/*container nav uses 20%*/
.container-nav {
  background-color: #282c34;
  color: white;
  padding: 20px;
  grid-column: 1;
  grid-row: 1;
}

.main {
  grid-column: 2;
  grid-row: 1;
}

.topButton{
  display: none;
}


@media screen and (max-width: 768px) {
    .grid-container {
      display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
      height: 100vh;
    }
  .main {
    grid-column: 1;
    grid-row: 2;
  }

  .container-nav {
    display: none;
  }
  .topButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

::-webkit-scrollbar {
  width: 4px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: #212529; /* cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #696969; /* cor da barra de rolagem */
  border-radius: 10px; /* raio dos cantos da barra de rolagem */
}

::-webkit-scrollbar-corner {
  background-color: #F5F5F5; /* cor do canto da barra de rolagem */
}
