* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.md-textbox{
  position: relative;
}

.md-textbox > input{
    height: 43px;
    width: 260px;
    padding-left: 16px;
    border: 2px solid #888888;
    border-radius: 8px;
    outline: none;
    background: transparent;
    color: #000;
    font-family: inherit;
    font-size: 16px;
}

.md-textbox :is(label, span){
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  pointer-events: none;
  color: #888888;
  transition: 0.3s;
}

.md-textbox > label {
  left: 10px;
  translate: 0 -50%;
  padding: 4px 8px;
}

.md-textbox > :is(input:focus, .has-value){
  border-color: #198754;
}

.md-textbox > :is(input:focus, .has-value) ~ label{
  background: #fff;
  color: #198754;
  translate: 0 -39px;
}

@media screen and (max-width: 350px) {
  .md-textbox > input{
    width: 100%;
  }
}

.resp:hover{
    border-color: black;
    border-bottom-width: 1px;
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
    margin-left: 5px;
    cursor: pointer;
}

.btn-delete {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/*.comentario-texto {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*.comentario-texto .buttons-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.btn-delete {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    background: none;*/
/*    border: none;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    cursor: pointer;*/
/*}*/
/*.comentario-texto {*/
/*    position: relative;*/
/*}*/

.comentario-texto,
.resposta-texto {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.coment{
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.input-edit:focus{
    outline: none;
    width:80%;
}

.resposta{
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*.comentario-texto,*/
/*.resposta-texto {*/
/*    max-width: 100%;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    white-space: nowrap;*/
/*}*/
.btn-responder{
    margin-top: -20px;
    background-color: transparent;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
}


.grid-container {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  height: 100vh;
}
/*container nav uses 20%*/
/* .container-nav {
  background-color: #282c34;
  color: white;
  padding: 20px;
  grid-column: 1;
  grid-row: 1;
}

.main {
  grid-column: 2;
  grid-row: 1;
} */

.topButton{
  display: none;
}

.icon-container {
  position: relative;
  display: inline-block;
}

.icon-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(71, 115, 5);
  font-size: 12px;
  padding: 4px;
  border-radius: 50%;
}








/* @media screen and (max-width: 768px) {
    .grid-container {
      display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
      height: 100vh;
    }
  .main {
    grid-column: 1;
    grid-row: 2;
  }

  .container-nav {
    display: none;
  }
  .topButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
} */

::-webkit-scrollbar {
  width: 4px; /* largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background-color: #212529; /* cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #696969; /* cor da barra de rolagem */
  border-radius: 10px; /* raio dos cantos da barra de rolagem */
}

::-webkit-scrollbar-corner {
  background-color: #F5F5F5; /* cor do canto da barra de rolagem */
}
